.contacto {
    display: flex;
    top: 70px;
    top: 20px;
    width: 70%;
    margin: 0 auto;
    background-color: #cbcbcb;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: white;
}




