.inomacion {
   display: flex;
    width: 80%;
    color: white;
    margin: 0 auto; 
    padding: 20px; 
    text-align: justify; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




